{{/*
  Shortcode to embed a file from the 'assets' directory in a responsive iframe.
  Usage: {{< iframe src="path/to/file.html" >}}
  The path is relative to the /assets/ directory.
*/}}
{{- $src := .Get "src" -}}
{{- $asset := resources.Get $src -}}

{{- if $asset -}}
  <div class="iframe-container" style="position: relative; width: 100%; padding-bottom: 60%; /* Adjust for plot aspect ratio */">
    <iframe
      src="{{ $asset.Permalink }}"
      frameborder="0"
      allowfullscreen
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
    </iframe>
  </div>
{{- else -}}
  {{- errorf "Iframe shortcode: Asset not found for src '%s'. Make sure the file exists in the /assets/ directory." $src -}}
{{- end -}}